// Background

$background-primary-color: rgb(0, 0, 0);

// Fonts

$font-primary-color: rgb(240, 240, 240);

$font-secondary-color: rgb(204, 201, 201);

$font-terciary-color: rgb(119, 123, 62);

$font-index-ultima-sec: olive;
// index y ultima sección de deptartamentos y casas


// Botones

$boton-index-color-relleno:  rgb(248, 248, 10);

$border-color: solid 8px rgb(46, 247, 69);

$bgcolor: rgb(14, 14, 96);

$textColor: aqua;

$index_button_font_color: #777b3e;

$index_button_bg_color: rgb(0, 0, 0);

$index_btn_bg_color_hover: rgb(58, 77, 19);