// Background

$background-primary-color: rgb(0, 0, 0);

// Fonts

$font-primary-color: rgb(240, 240, 240) ;

$font-secondary-color: rgb(204, 201, 201);

$font-terciary-color: #808000;



$boton-index-color-relleno:  rgb(160, 160, 77);

$border-color: rgb(172, 47, 255);

$bgcolor: rgb(14, 14, 96);

$textColor: aqua;

$index_button_font_color: rgb(9, 186, 20);

$index_button_bg_color: rgb(2, 2, 35);

$index_btnArriba_bg_color_hover: rgb(29, 29, 133);

$index_btnAbajo_bg_color_hover: rgb(58, 77, 19);