$background-primary-color: rgb(0, 0, 0);

$font-primary-color: rgb(240, 240, 240) ;

$font-secondary-color: rgb(204, 201, 201);

$boton-index-color-relleno:  rgb(160, 160, 77);

$border-color: rgb(172, 47, 255);

$bgcolor: rgb(14, 14, 96);

$textColor: rgb(110, 24, 110);

