.sectionContacto {
    background-color: $background-primary-color;

}

.sectionContacto {
    .formulario {
        .boton_formulario {
            @extend %btn_formulario;
        }
    }
}

#text-area {
    width: 300px;
    height: 200px;
}

/* Contactos.html TERMINA*/
