html {
    min-height: 100%;
}
.container-fluid {
    .sectionContacto {
    background-color: $background-primary-color;
    height: auto;


    #text-area {
        width: auto;
        height: 200px;
    }
    }

    .section_c_imagen {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $background-primary-color;
        display: flex;
        justify-content: center;

        .imagenCuerpo {
            width: 250px;
            height: auto;

        }
    }
}


