%botonBase {
    padding: 11px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    border-color: rgb(160, 160, 77);
    font-size: 1em;
    display: inline;
    justify-content: center;
    align-items: center;
}