%botonBase {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    border-color: gray;
    width: auto;
    height: 70px;
    font-size: 1em;
    display: inline;
    justify-content: center;
    align-items: center;        
}