*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: rgb(216, 216, 216);
    /*font-size: 1.2rem needed;*/
    min-height: 100%;
    min-width: 100%;
    padding: 0px 0px 0px 0px;
}

// BOTONES

.positionButton {
    display: flex;
    justify-content: center;
    width: 150px;
    height: auto;
    background-color: #b3ba56;
    position: fixed;
    bottom: 10px;
    right: 7px;
    color: rgb(9, 55, 2);
    font-weight: bold;
    padding: 5px 2px 5px 0px;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    text-align: center;
    border-radius: 17px;

    &:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        padding-right: 10px;
        animation-name: pbutton;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
}

@keyframes pbutton {
    animation-duration: 4s;
    animation-timing-function: ease-in;
    0% {background-color: rgb(4, 88, 31);}
    50% {background-color: rgb(5, 83, 17); transform: scale(1, 1);}
    75% {background-color: rgb(9, 76, 53); transform: rotate(4deg);}
    75% {color: rgb(4, 86, 33)};
}

@media (min-width: 760px) {
    .positionButton {
        display: flex;
        justify-content: center;
        width: 150px;
        height: auto;
        background-color: #b3ba56;
        position: fixed;
        bottom: 80px;
        right: 7px;
        color: rgb(9, 55, 2);
        font-weight: bold;
        padding: 5px 2px 5px 0px;
        font-size: 1rem;
        text-decoration: none;
        text-align: left;
        text-align: center;
        border-radius: 17px;
    
        &:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            padding-right: 10px;
            animation-name: pbutton;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }
    }
    
    @keyframes pbutton {
        animation-duration: 4s;
        animation-timing-function: ease-in;
        0% {background-color: rgb(4, 88, 31);}
        50% {background-color: rgb(5, 83, 17); transform: scale(1, 1);}
        75% {background-color: rgb(9, 76, 53); transform: rotate(4deg);}
        75% {color: rgb(4, 86, 33)};
    }
    
}
