.header {
    font-size: 20px;
    background-color: $background-primary-color;

    .navbar {
        .logo {
            display: flex;
            justify-content: flex-start;
            width: auto;
            height: 150px;
        }

                
        .nav-link {
            color: rgb(64, 79, 6) !important;
        }
        
        .nav-item {
            // padding-left: 20px;
            .dropdown-menu {
                background-color: black;
                font-size: 1.2em;
            }
            & a:hover {
                background-color: black !important;
                color: rgb(100, 100, 10);
                font-weight: bold;
            }
            .dropdown-item {
                color: white;
            }
        }
    }
}

@media (min-width: 760px) {

    .header {
        padding-right: 30px;
        font-size: 30px;
    }

}



