html {
    min-height: 100%;
}

.containerIndex {       
    background-color: $background-primary-color; 
    .articleIndex {
        font-size: 2rem;
        text-align: center;

        .indexCuerpo {
            .imagenesCuerpo {                  
                .indexImg {
                    padding-bottom: 100px;
                    height: auto;
                    max-width: auto;
                }   
            }                 
                
            .gif_cubo {
                display: flex;
                justify-content: center;
                padding-top: 50px;

                .cubo_imagen {
                    height: 175px;
                    width: 175px;                    ;
                }                                              
            }
            

            .sideBar0 {
                font-size: 1.4rem; 
                color: $font-terciary-color;
                padding-bottom: 70px;
                padding-top: 70px;
        
                .sideBarText {
                    padding-bottom: 50px;                
                }    
                
                .sideBarText1 {
                    padding-bottom: 50px;   
                    padding-right: 10%;             
                }

            }      

            #ahora {
                width: 150px;
                height: 150px;
            }   

            
        }            
    }                         
     

    .sectionIndex {
        background-color: $background-primary-color;
        height: auto;
        padding-top: 200px;


        .descripIndex {
            text-align: center;
            padding-bottom: 30px;


            .descripTitulo {
                font-size: 3.3em;
            }
        }
                 
        .lineasDescrip {
            font-size: 1.1em;
            line-height: 30px;
        }
    }
    
    .botonesDiv {
        align-items: center;
        background-color: $background-primary-color;
        height:auto; 
        width: auto;
        padding-top: 200px;
        padding-bottom: 400px;

        .botonesArriba {    
            display: flex;
            justify-content: space-evenly;
            font-weight: bold;
            height: 130px;
            text-decoration: none;

    
            .btn1 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;
                border-color: $border-color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 }

                &:hover {
                    color: $font_color_btn_index;
                    background-color: $index_btn_bg_color_hover;
                }     
               
            }     
        
        }

        .botonesAbajo {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            font-weight: bold;
            height: 10px;
            text-decoration: none;

            .btn2 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;
                border-color: $border-color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 }

                &:hover {
                    color: $font_color_btn_index;
                    background-color: $index_btn_bg_color_hover;
                }     
            }   
        }
    }
   

    .indexProductos {
        .rowCards {
            .col1Cards {
                height: auto;
                padding-bottom: 20px;

                .cardOne {         
                    color: $font_color_txt_cuerpo_cards;
                    background-color: #b3ba56;           
                    .card-body {
                        font-size: 0.8rem;
                        line-height: 25px;

                        .card-title {
                            font-size: 1rem;
                        }
                    }    

                    .card-img-top {
                        height: 220px;
                        width: 100%;
                    }

                    .primeraCardfoot {
                        color: rgb(3, 70, 3);
                        display: flex;  
                        font-size: 0.9rem;                          
                        justify-content: space-around;
                        align-items: center;

                        .btn_card {
                            @extend %btn_card; 
                        }
                    }                    
                }   
            }

            .col2Cards {
                height: auto;
                padding-bottom: 20px;

                .cardTwo {
                    color: $font_color_txt_cuerpo_cards;
                    background-color: #b3ba56;
                    .card-body {
                        font-size: 0.8rem;
                        line-height: 25px;
                        .card-title {
                            font-size: 1rem;
                        }
                    }

                    .card-img-top {
                        height: 250px;
                        width: 100%;
                    }

                    .segundaCardfoot {
                        color: rgb(3, 70, 3);
                        display: flex;  
                        font-size: 0.9rem;                          
                        justify-content: space-around;
                        align-items: center;

                        .btn_card {
                            @extend %btn_card; 
                        }
                    }                
                }
            }   

            .col3Cards {
                height: auto;
                padding-bottom: 20px;

                .cardThree {
                    color: $font_color_txt_cuerpo_cards;
                    background-color: #b3ba56;
                    .card-body {
                        font-size: 0.8rem;
                        line-height: 25px;
                        .card-title {
                            font-size: 1rem;
                        }
                    }

                    .card-img-top {
                        height: 250px;
                        width: 100%;
                    }

                    .terceraCardfoot {
                        color: rgb(3, 70, 3);
                        display: flex;  
                        font-size: 0.9rem;                          
                        justify-content: space-around;
                        align-items: center;

                        .btn_card {
                            @extend %btn_card; 
                        }
                    }                
                }
            }           
        }       
    }

    .articleAbajo {
            padding-bottom: map-get($estilos, paddingbottom_articleAbajoIndex);
            padding-top: map-get($estilos, paddingtop_articleAbajoIndex);

        .articleAbajo1 {            
            text-align: center;        
            line-height: 48px;
            color: $font-index-ultima-sec;
        }

        .articleAbajo2 {
            text-align: center;                       
            padding-bottom: 30px;
        } 

        .articleAbajo3 {
            display: flex;        
            align-content: center;
            text-align: center;                       
            justify-content: center;
            color: $font-index-ultima-sec;
            line-height: 30px;
        }

        .imagen_tierra {
            display: flex;
            justify-content: center;
            padding-top: 200px;

            .tierra_imagen {
                height: 175px;
                width: 175px;                    ;
            }                                              
        }
    }     

    .ultimo_index {
        display: flex;        
        align-content: center;
        text-align: center;                       
        justify-content: center;
        padding-bottom: 50px;

        .ultima_linea {
            color: $font-terciary-color;
        }

        .logos {    
            #logosx {
                width: 70px;
                height: 70px;
            }        
        }
    }
}


// MEDIA INDEX  TABLET

@media (min-width: 768px) {
    .containerIndex {        
        .articleIndex {
            .indexCuerpo { 
                text-align: start;    
            
                .sideBar0 {
                    
                    .sideBarText {
                        padding-top: 100px;
                        font-size: 1.1em;
                    }

                    .sideBarText1 {
                        padding-top: 500px;
                        padding-bottom: 250px;
                        font-size: 1.1em;
                    } 
                    
                    .sideBarText2 {
                        padding-top: 320px;
                        padding-bottom: 100px;
                        font-size: 1.1em;
                    }       
                }
                
                .gif_cubo {
                    .cubo_imagen {
                        height: 450px;
                        width: 450px; 
                    }                            
                }
            }
        } 

        .sectionIndex {                        
            padding-bottom: 250px;
            padding-top: 150px;
    
    
            .descripIndex {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 60px;
            }
                     
            .lineasDescrip {
                padding-top: 100px;
                padding-bottom: 150px;
                color: rgba(240, 240, 240, 0.571);
                .descripTexto {                    
                    font-size: 1.9em;
                    line-height: 55px;
                }

                .descripTexto2 {                    
                    font-size: 1.9em;
                    line-height: 55px;
                }
            }            
        }

        .botonesDiv {
            align-items: center;
            background-color: $background-primary-color;
            height:auto; 
            width: auto;
            padding-top: 200px;
            padding-bottom: 400px;
    
            .botonesArriba {                    
                display: flex;
                justify-content: space-evenly;
                font-weight: bold;
                height: 130px;
                text-decoration: none;


                #casasboton {
                    width: 120px;
                }
            }
        }

        .indexProductos {
            padding-top: 400px;
            padding-bottom: 300px;
            .rowCards {
                .col1Cards {                
                    .cardOne {
                        width: 300px;
                        height: 300px;
                        .primeraCardfoot {
                            font-size: 0.8rem;
                        }
                    }   
                }
                .col2Cards {
                    .cardTwo {
                        width: 300px;
                        height: 300px;
                        }
                    }
                  
                .col3Cards {
                    .cardThree {
                        width: 300px;
                        height: 300px;
                    }
                }            
            }       
        }
    

        .articleAbajo {
            padding-bottom: 300px;
            flex-direction: row;
            align-items: center;

            .articleAbajo1 {
                @include articleAbajo3;

            }


            .articleAbajo3 {
                @include articleAbajo3;
            }
    
            .lastImgIndex {
                display: flex;
                margin-left: 550px;
                padding-top: 180px;
                height: 400px;
                width: 250px;                                
            }    
        }    
    }    
}




// MEDIA INDEX  DESKTOP 1200
// MEDIA INDEX  DESKTOP 1200


@media (min-width: 1200px) {
    .containerIndex {        
        .articleIndex {
            .indexCuerpo { 
                text-align: start;    
            
                .sideBar0 { 
                    padding-bottom: 300px;                   
                    .sideBarText {
                        padding-top: 200px;
                        font-size: 1.1em;
                    }

                    .sideBarText1 {
                        padding-top: 700px;
                        padding-bottom: 300px;
                        font-size: 1.1em;
                    } 
                    
                    .sideBarText2 {
                        padding-top: 350px;
                        padding-bottom: 100px;
                        font-size: 1.1em;
                    }       
                }
                
                #ahora {
                    width: 300px;
                    height: 300px;
                }                                
            }
        } 

        .sectionIndex {                                    
            .descripIndex {
                text-align: center;
                padding-top: 150px;
                padding-bottom: 60px;
            }
                     
            .lineasDescrip {
                padding-top: 100px;
                padding-bottom: 150px;
                .descripTexto {                    
                    font-size: 1.9em;
                    line-height: 55px;
                }

                .descripTexto2 {                    
                    font-size: 1.9em;
                    line-height: 55px;
                }
            }            
        }

        .botonesDiv {
            align-items: center;
            background-color: $background-primary-color;
            height:auto; 
            width: auto;
            padding-top: 200px;
            padding-bottom: 200px;
    
            .botonesArriba {       
                .btn1 {
                    font-size: 1.4rem;                 
                    }
                
                    #botoncasas {
                    width: 140px;
                }                  
  
            }
            .botonesAbajo {
                .btn2 {
                font-size: 1.4rem;   
                width: auto;             
                }
            }
        }
    
        .indexProductos {
            padding-top: 200px;
            padding-bottom: 300px;
            .rowCards {
                .col1Cards {                
                    .cardOne {
                        width: 300px;
                        height: 300px;
                    }   
                }

                .col2Cards {
                    .cardTwo {
                        width: 300px;
                        height: 300px;
                        }
                    }
                }   
                .col3Cards {
                    .cardThree {
                        width: 300px;
                        height: 300px;
                    }
                }            
        }       
    

        .articleAbajo {
            padding-bottom: 300px;
            flex-direction: row;
            align-items: center;
            
            .articleAbajo2 {
                width: auto;
                padding-left: 50px;
                padding-right: 50px;
            }

            .lastImgIndex {
                display: flex;
                margin-left: 550px;
                padding-top: 180px;
                height: 400px;
                width: 250px;                                
            }    
        }    
    }
}   
