.containerIndex {       
    background-color: $background-primary-color; 
    .articleIndex {
        font-size: 2rem;
        text-align: center;

        .indexCuerpo {
            .imagenesCuerpo {                  
                .indexImg {
                    padding-bottom: 100px;
                    height: auto;
                    max-width: auto;
                }   
            }                 
                
            .gif_cubo {
                display: flex;
                justify-content: center;
                padding-top: 50px;

                .cubo_imagen {
                    height: 175px;
                    width: 175px;                    ;
                }                                              
            }
            

            .sideBar0 {
                font-size: 1.4rem; 
                color: $font-terciary-color;
                padding-bottom: 50px;
                padding-top: 70px;
        
                .sideBarText {
                    padding-bottom: 50px;                
                    padding-right: 10%;             
                }    
                
                .sideBarText1 {
                    padding-bottom: 50px;   
                    padding-right: 10%;             
                }

            }      

            .gif_cubo {
                padding-top: 200px;
            }
        }            
    }                         
     

    .sectionIndex {
        background-color: $background-primary-color;
        height: auto;
        padding-top: 200px;


        .descripIndex {
            text-align: center;
            padding-bottom: 30px;


            .descripTitulo {
                font-size: 3.3em;
            }
        }
                 
        .lineasDescrip {
            font-size: 1.1em;
            line-height: 30px;

        }
    }
    
    .botonesDiv {
        align-items: center;
        background-color: $background-primary-color;
        height:auto; 
        width: auto;
        padding-top: 200px;
        padding-bottom: 400px;

        .botonesArriba {    
            display: flex;
            justify-content: space-evenly;
            font-weight: bold;
            height: 130px;
            text-decoration: none;

    
            .btn1 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;
                border-color: $border-color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 }

                &:hover {
                    color: black;
                    background-color: $index_btn_bg_color_hover;
                }     
               
            }     
        
        }


        .botonesAbajo {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            font-weight: bold;
            height: 10px;
            text-decoration: none;

            .btn2 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;
                width: 130px;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 }

                &:hover {
                    color: black;
                    background-color: $index_btn_bg_color_hover;
                }                    
            }
            
            
        }
    }
   

    .indexProductos {
        .rowCards {
            .col1Cards {
                height: auto;
                padding-bottom: 20px;

                .cardOne {
                    color:black;
                    background-color: #b3ba56;
                    .card-body {
                        font-size: 0.8rem;
                        line-height: 25px;

                        .card-title {
                            font-size: 1rem;
                        }
                    }    

                    .card-img-top {
                        height: 220px;
                        width: 100%;
                    }

                    .primeraCardfoot {
                        color: rgb(3, 70, 3);
                        display: flex;  
                        font-size: 0.9rem;                          
                        justify-content: space-around;
                        align-items: center;

                        .btn_card {
                            @extend %btn_card; 
                        }
                    }
                    
                }   
            }
            .col2Cards {
                height: auto;
                padding-bottom: 20px;

                .cardTwo {
                    color:black;
                    background-color: #b3ba56;
                    .card-body {
                        font-size: 0.8rem;
                        line-height: 25px;
                        .card-title {
                            font-size: 1rem;
                        }
                    }


                    .card-img-top {
                        height: 250px;
                        width: 100%;
                    }

                    .segundaCardfoot {
                        color: rgb(3, 70, 3);
                        display: flex;  
                        font-size: 0.9rem;                          
                        justify-content: space-around;
                        align-items: center;

                        .btn_card {
                            @extend %btn_card; 
                        }
                    }                
                }
            }   

            .col3Cards {
                height: auto;
                padding-bottom: 20px;
                    .cardThree {
                    color:black;
                    background-color: #b3ba56;

                    .card-body {
                        font-size: 0.8rem;
                        line-height: 25px;
                        .card-title {
                            font-size: 1rem;
                        }
                    }


                    .card-img-top {
                        height: 250px;
                        width: 100%;
                    }

                    .terceraCardfoot {
                        color: rgb(3, 70, 3);
                        display: flex;                            
                        justify-content: space-around;
                        align-items: center;

                        .btn_card {
                            @extend %btn_card; 
                        }
                    }
                }
            }            
        }       
    }

    .articleAbajo {
            padding-bottom: map-get($estilos, paddingbottom_articleAbajoIndex);
            padding-top: map-get($estilos, paddingtop_articleAbajoIndex);

        .articleAbajo1 {            
            text-align: center;        
            line-height: 48px;
            color: $font-index-ultima-sec;
        }

        .articleAbajo2 {
            text-align: center;                       
            padding-bottom: 30px;
        } 

        .articleAbajo3 {
            display: flex;        
            align-content: center;
            text-align: center;                       
            justify-content: center;
            color: $font-index-ultima-sec;
            line-height: 30px;
        }

        .imagen_tierra {
            display: flex;
            justify-content: center;
            padding-top: 200px;

            .tierra_imagen {
                height: 175px;
                width: 175px;                    ;
            }                                              
        }
    }     
}
