.containerIndex {   
    background-color: $background-primary-color; 
    .articleIndex {
        font-size: 2em;
        text-align: center;

        .indexCuerpo {
            .imagenesCuerpo {                  
                .indexImg {
                    padding-bottom: 100px;
                    height: auto;
                    max-width: auto;
                }                                          
            }

            .sideBar0 {
                font-size: 1.4rem; 
                color: olive;
                padding-bottom: 50px;
                padding-top: 70px;
        
                .sideBarText {
                    padding-bottom: 50px;                
                    padding-right: 10%;             
                }    
                
                .sideBarText1 {
                    padding-bottom: 20px;   
                    padding-right: 10%;             
                }

            }      
        }            
    }                         
     

    .sectionIndex {
        background-color: $background-primary-color;
        height: auto;
        padding-bottom: 50px;
        padding-top: 200px;


        .descripIndex {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 60px;


            .descripTitulo {
                font-size: 4.7em;
            }
        }
                 
        .lineasDescrip {
            font-size: 1.2em;
        }
    }
    
    .botonesDiv {
        align-items: center;
        background-color: $background-primary-color;
        height:auto; 
        width: auto;
        padding-top: 100px;
        padding-bottom: 200px;

        .botonesArriba {    
            display: flex;
            justify-content: space-evenly;
            font-weight: bold;
            height: 130px;
            text-decoration: none;

    
            .btn1 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 }

                &:hover {
                    color: black;
                    background-color: $index_btnArriba_bg_color_hover;
                }     
               
            }     
            
    
            .btn2 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;
                width: 90px;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 }

                &:hover {
                    color: black;
                    background-color: $index_btnArriba_bg_color_hover;
                }                    
            }
        }

        .botonMedio {
            @include flex-center;

            .btn3 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                 
                }

                &:hover {
                    color: black;
                    background-color: $index_btnArriba_bg_color_hover;
                }     
               
            }
        }

        .botonesAbajo {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            font-weight: bold;
            height: 130px;
            text-decoration: none;

            .boton1 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color; 
                }

                &:hover {
                    color: black;
                    background-color: $index_btnAbajo_bg_color_hover;
                }     
               
            }
            
            .boton2 {
                @extend %botonBase; 
                background-color: $index_button_bg_color;

                a {
                    text-decoration: none;  
                    color: $index_button_font_color;                     
                }

                &:hover {
                    color: black;
                    background-color: $index_btnAbajo_bg_color_hover;
                }     
               
            }
        }
    }
   

    .indexProductos {
        .rowCards {
            .col1Cards {
                .cardOne {
                    background-color: rgb(2, 79, 2);
                    .primeraCardfoot {
                        color:pink
                    }
                }
            }   
            .col2Cards {
                .cardTwo {
                    background-color: rgb(2, 79, 2);
                    .segundaCardfoot {
                        color:pink
                    }
                }
            }   
            .col3Cards {
                .cardThree {
                    background-color: rgb(2, 79, 2);
                    .terceraCardfoot {
                        color:pink
                    }
                }
            }            
        }       
    }

    .articleAbajo {
            padding-bottom: map-get($estilos, paddingbottom_articleAbajoIndex);
            padding-top: map-get($estilos, paddingtop_articleAbajoIndex);

        .articleAbajo1 {
            text-align: center;        
            line-height: 63px;
            color: olive;
        }

        .articleAbajo2 {
            text-align: center;                       
        } 

        .articleAbajo3 {
            display: flex;        
            align-content: center;
            text-align: center;                       
            justify-content: center;
            color: olive;
        }

        .lastImgIndex {
            padding-top: map-get($estilos, paddingbottom_lastImgIndex);
        }
    }     
}