
/*  quienesSomos.html COMIENZA*/

.articleQuienes {
    display: flex;
    background-color: $background-primary-color;
    justify-content: center;
    text-align: center;

    .quienesTitulo {
        font-size: 4em;
        padding-top: 70px;   
    }
    .quienesDesc {
        font-size: 1.4em;
        line-height: 35px;
        padding-top: 80px;
        padding-bottom: 70px;
    }   
}


.sectionQuienes {
    display: flex;
    background-color: $background-primary-color;
    justify-content: center;
    text-align: center;
    
    .filoTitulo {
        font-size: 40px;
        padding-top: 200px;    
        color: $font-primary-color;
    }
    
    .filoDesc {
        font-size: 1.3rem;
        padding-top: 60px;    
        line-height: 1.3;
        color: $font-secondary-color;
    }    
}



.main_quienes {
    background-color: $background-primary-color;

    .main_imagen{
        display: flex;
        justify-content: center;
        
        .main_img {
            width: 270px;
            height: 200px;
        }
    }

    .side_quienes {        
        display: flex;                
        line-height: 32px;
        justify-content: center;
    }

    .imagenesCuerpo {
        padding-top: 100px;
    }
}


.quienesImagen {
    background-color: $background-primary-color;
    .quienesImg {    
        display: flex;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }

}

.main_quienes {
    .main_imagen {
        .main_img {
            height: 250px;
            width: 100%;
        }
    }

    .side_quienes {
        .sideBarText {
            padding-top: 50px;
            text-align: center;
            color: $font-terciary-color;
        }
    }
}



