html {
  min-height: 100%;
}

.containerIndex .botonesDiv .botonesAbajo .btn2, .containerIndex .botonesDiv .botonesArriba .btn1 {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 70px;
  border-color: #777b3e;
  width: auto;
  height: 50px;
  font-size: 0.9em;
  display: inline;
  justify-content: center;
  align-items: center;
}

.containerIndex .indexProductos .rowCards .col3Cards .cardThree .terceraCardfoot .btn_card, .containerIndex .indexProductos .rowCards .col2Cards .cardTwo .segundaCardfoot .btn_card, .containerIndex .indexProductos .rowCards .col1Cards .cardOne .primeraCardfoot .btn_card {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 70px;
  border-color: #777b3e;
  width: auto;
  height: auto;
  font-size: 0.7rem;
  display: inline;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
  font-family: "Ubuntu", sans-serif;
}
body {
  font-family: "Ubuntu", sans-serif;
  color: rgb(216, 216, 216);
  /*font-size: 1.2rem needed;*/
  min-height: 100%;
  min-width: 100%;
  padding: 0px 0px 0px 0px;
}

.positionButton {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  width: 130px;
  height: auto;
  background-color: #777b3e;
  position: fixed;
  bottom: 70px;
  right: 7px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  padding: 5px 2px 5px 0px;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  text-align: center;
  border-radius: 17px;
}
.positionButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding-right: 10px;
  -webkit-animation-name: pbutton;
          animation-name: pbutton;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
@-webkit-keyframes pbutton {
  0% {
    background-color: rgb(4, 88, 31);
  }
  25% {
    background-color: rgb(8, 171, 60);
    color: white;
    transform: rotate(2deg);
  }
  50% {
    background-color: rgb(5, 83, 17);
    transform: scale(1, 1);
    transform: rotate(4deg);
  }
  75% {
    background-color: rgb(29, 168, 119);
    transform: scale(3, 3);
    transform: rotate(4deg);
  }
  100% {
    background-color: rgb(9, 76, 53);
    transform: rotate(9deg);
  }
}
@keyframes pbutton {
  0% {
    background-color: rgb(4, 88, 31);
  }
  25% {
    background-color: rgb(8, 171, 60);
    color: white;
    transform: rotate(2deg);
  }
  50% {
    background-color: rgb(5, 83, 17);
    transform: scale(1, 1);
    transform: rotate(4deg);
  }
  75% {
    background-color: rgb(29, 168, 119);
    transform: scale(3, 3);
    transform: rotate(4deg);
  }
  100% {
    background-color: rgb(9, 76, 53);
    transform: rotate(9deg);
  }
}

@media (min-width: 760px) {
  .positionButton {
    display: flex;
    justify-content: center;
    width: 150px;
    height: auto;
    background-color: #b3ba56;
    position: fixed;
    bottom: 80px;
    right: 7px;
    color: rgb(9, 55, 2);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    text-align: center;
    border-radius: 17px;
  }
  .positionButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
    -webkit-animation-name: pbutton;
            animation-name: pbutton;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  @-webkit-keyframes pbutton {
    0% {
      background-color: rgb(4, 88, 31);
    }
    25% {
      background-color: rgb(8, 171, 60);
      color: white;
      transform: rotate(2deg);
    }
    50% {
      background-color: rgb(5, 83, 17);
      transform: scale(1, 1);
      transform: rotate(4deg);
    }
    75% {
      background-color: rgb(29, 168, 119);
      transform: scale(3, 3);
      transform: rotate(4deg);
    }
    100% {
      background-color: rgb(9, 76, 53);
      transform: rotate(9deg);
    }
  }
  @keyframes pbutton {
    0% {
      background-color: rgb(4, 88, 31);
    }
    25% {
      background-color: rgb(8, 171, 60);
      color: white;
      transform: rotate(2deg);
    }
    50% {
      background-color: rgb(5, 83, 17);
      transform: scale(1, 1);
      transform: rotate(4deg);
    }
    75% {
      background-color: rgb(29, 168, 119);
      transform: scale(3, 3);
      transform: rotate(4deg);
    }
    100% {
      background-color: rgb(9, 76, 53);
      transform: rotate(9deg);
    }
  }
}
.header {
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}
.header .navbar .logo {
  display: flex;
  justify-content: flex-start;
  width: auto;
  height: 150px;
}
.header .navbar .nav-link {
  color: rgb(64, 79, 6) !important;
}
.header .navbar .nav-item .dropdown-menu {
  background-color: black;
  font-size: 1.2em;
}
.header .navbar .nav-item a:hover {
  background-color: black !important;
  color: rgb(100, 100, 10);
  font-weight: bold;
}
.header .navbar .nav-item .dropdown-item {
  color: white;
}

@media (min-width: 768px) {
  .header {
    padding-right: 30px;
    font-size: 30px;
  }
  .header .navbar .container-fluid .nav-item ul li {
    font-size: 1.2rem;
  }
}
.footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
}

html {
  min-height: 100%;
}

.containerIndex {
  background-color: rgb(0, 0, 0);
}
.containerIndex .articleIndex {
  font-size: 2rem;
  text-align: center;
}
.containerIndex .articleIndex .indexCuerpo .imagenesCuerpo .indexImg {
  padding-bottom: 100px;
  height: auto;
  max-width: auto;
}
.containerIndex .articleIndex .indexCuerpo .gif_cubo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.containerIndex .articleIndex .indexCuerpo .gif_cubo .cubo_imagen {
  height: 175px;
  width: 175px;
}
.containerIndex .articleIndex .indexCuerpo .sideBar0 {
  font-size: 1.4rem;
  color: rgb(119, 123, 62);
  padding-bottom: 70px;
  padding-top: 70px;
}
.containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText {
  padding-bottom: 50px;
}
.containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText1 {
  padding-bottom: 50px;
  padding-right: 10%;
}
.containerIndex .articleIndex .indexCuerpo #ahora {
  width: 150px;
  height: 150px;
}
.containerIndex .sectionIndex {
  background-color: rgb(0, 0, 0);
  height: auto;
  padding-top: 200px;
}
.containerIndex .sectionIndex .descripIndex {
  text-align: center;
  padding-bottom: 30px;
}
.containerIndex .sectionIndex .descripIndex .descripTitulo {
  font-size: 3.3em;
}
.containerIndex .sectionIndex .lineasDescrip {
  font-size: 1.1em;
  line-height: 30px;
}
.containerIndex .botonesDiv {
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: auto;
  width: auto;
  padding-top: 200px;
  padding-bottom: 400px;
}
.containerIndex .botonesDiv .botonesArriba {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  height: 130px;
  text-decoration: none;
}
.containerIndex .botonesDiv .botonesArriba .btn1 {
  background-color: rgb(0, 0, 0);
  border-color: solid 8px rgb(46, 247, 69);
}
.containerIndex .botonesDiv .botonesArriba .btn1 a {
  text-decoration: none;
  color: #777b3e;
}
.containerIndex .botonesDiv .botonesArriba .btn1:hover {
  color: black;
  background-color: rgb(58, 77, 19);
}
.containerIndex .botonesDiv .botonesAbajo {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-weight: bold;
  height: 10px;
  text-decoration: none;
}
.containerIndex .botonesDiv .botonesAbajo .btn2 {
  background-color: rgb(0, 0, 0);
  border-color: solid 8px rgb(46, 247, 69);
}
.containerIndex .botonesDiv .botonesAbajo .btn2 a {
  text-decoration: none;
  color: #777b3e;
}
.containerIndex .botonesDiv .botonesAbajo .btn2:hover {
  color: black;
  background-color: rgb(58, 77, 19);
}
.containerIndex .indexProductos .rowCards .col1Cards {
  height: auto;
  padding-bottom: 20px;
}
.containerIndex .indexProductos .rowCards .col1Cards .cardOne {
  color: black;
  background-color: #b3ba56;
}
.containerIndex .indexProductos .rowCards .col1Cards .cardOne .card-body {
  font-size: 0.8rem;
  line-height: 25px;
}
.containerIndex .indexProductos .rowCards .col1Cards .cardOne .card-body .card-title {
  font-size: 1rem;
}
.containerIndex .indexProductos .rowCards .col1Cards .cardOne .card-img-top {
  height: 220px;
  width: 100%;
}
.containerIndex .indexProductos .rowCards .col1Cards .cardOne .primeraCardfoot {
  color: rgb(3, 70, 3);
  display: flex;
  font-size: 0.9rem;
  justify-content: space-around;
  align-items: center;
}
.containerIndex .indexProductos .rowCards .col2Cards {
  height: auto;
  padding-bottom: 20px;
}
.containerIndex .indexProductos .rowCards .col2Cards .cardTwo {
  color: black;
  background-color: #b3ba56;
}
.containerIndex .indexProductos .rowCards .col2Cards .cardTwo .card-body {
  font-size: 0.8rem;
  line-height: 25px;
}
.containerIndex .indexProductos .rowCards .col2Cards .cardTwo .card-body .card-title {
  font-size: 1rem;
}
.containerIndex .indexProductos .rowCards .col2Cards .cardTwo .card-img-top {
  height: 250px;
  width: 100%;
}
.containerIndex .indexProductos .rowCards .col2Cards .cardTwo .segundaCardfoot {
  color: rgb(3, 70, 3);
  display: flex;
  font-size: 0.9rem;
  justify-content: space-around;
  align-items: center;
}
.containerIndex .indexProductos .rowCards .col3Cards {
  height: auto;
  padding-bottom: 20px;
}
.containerIndex .indexProductos .rowCards .col3Cards .cardThree {
  color: black;
  background-color: #b3ba56;
}
.containerIndex .indexProductos .rowCards .col3Cards .cardThree .card-body {
  font-size: 0.8rem;
  line-height: 25px;
}
.containerIndex .indexProductos .rowCards .col3Cards .cardThree .card-body .card-title {
  font-size: 1rem;
}
.containerIndex .indexProductos .rowCards .col3Cards .cardThree .card-img-top {
  height: 250px;
  width: 100%;
}
.containerIndex .indexProductos .rowCards .col3Cards .cardThree .terceraCardfoot {
  color: rgb(3, 70, 3);
  display: flex;
  font-size: 0.9rem;
  justify-content: space-around;
  align-items: center;
}
.containerIndex .articleAbajo {
  padding-bottom: 50px;
  padding-top: 200px;
}
.containerIndex .articleAbajo .articleAbajo1 {
  text-align: center;
  line-height: 48px;
  color: olive;
}
.containerIndex .articleAbajo .articleAbajo2 {
  text-align: center;
  padding-bottom: 30px;
}
.containerIndex .articleAbajo .articleAbajo3 {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  color: olive;
  line-height: 30px;
}
.containerIndex .articleAbajo .imagen_tierra {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
.containerIndex .articleAbajo .imagen_tierra .tierra_imagen {
  height: 175px;
  width: 175px;
}
.containerIndex .ultimo_index {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}
.containerIndex .ultimo_index .ultima_linea {
  color: rgb(119, 123, 62);
}
.containerIndex .ultimo_index .logos #logosx {
  width: 70px;
  height: 70px;
}

@media (min-width: 768px) {
  .containerIndex .articleIndex .indexCuerpo {
    text-align: start;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText {
    padding-top: 100px;
    font-size: 1.1em;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText1 {
    padding-top: 500px;
    padding-bottom: 250px;
    font-size: 1.1em;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText2 {
    padding-top: 320px;
    padding-bottom: 100px;
    font-size: 1.1em;
  }
  .containerIndex .articleIndex .indexCuerpo .gif_cubo .cubo_imagen {
    height: 450px;
    width: 450px;
  }
  .containerIndex .sectionIndex {
    padding-bottom: 250px;
    padding-top: 150px;
  }
  .containerIndex .sectionIndex .descripIndex {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .containerIndex .sectionIndex .lineasDescrip {
    padding-top: 100px;
    padding-bottom: 150px;
    color: rgba(240, 240, 240, 0.571);
  }
  .containerIndex .sectionIndex .lineasDescrip .descripTexto {
    font-size: 1.9em;
    line-height: 55px;
  }
  .containerIndex .sectionIndex .lineasDescrip .descripTexto2 {
    font-size: 1.9em;
    line-height: 55px;
  }
  .containerIndex .botonesDiv {
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    padding-top: 200px;
    padding-bottom: 400px;
  }
  .containerIndex .botonesDiv .botonesArriba {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    height: 130px;
    text-decoration: none;
  }
  .containerIndex .botonesDiv .botonesArriba #casasboton {
    width: 120px;
  }
  .containerIndex .indexProductos {
    padding-top: 400px;
    padding-bottom: 300px;
  }
  .containerIndex .indexProductos .rowCards .col1Cards .cardOne {
    width: 300px;
    height: 300px;
  }
  .containerIndex .indexProductos .rowCards .col1Cards .cardOne .primeraCardfoot {
    font-size: 0.8rem;
  }
  .containerIndex .indexProductos .rowCards .col2Cards .cardTwo {
    width: 300px;
    height: 300px;
  }
  .containerIndex .indexProductos .rowCards .col3Cards .cardThree {
    width: 300px;
    height: 300px;
  }
  .containerIndex .articleAbajo {
    padding-bottom: 300px;
    flex-direction: row;
    align-items: center;
  }
  .containerIndex .articleAbajo .articleAbajo1 {
    font-size: 1.2rem;
    line-height: 40px;
    color: gray;
  }
  .containerIndex .articleAbajo .articleAbajo3 {
    font-size: 1.2rem;
    line-height: 40px;
    color: gray;
  }
  .containerIndex .articleAbajo .lastImgIndex {
    display: flex;
    margin-left: 550px;
    padding-top: 180px;
    height: 400px;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .containerIndex .articleIndex .indexCuerpo {
    text-align: start;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 {
    padding-bottom: 300px;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText {
    padding-top: 200px;
    font-size: 1.1em;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText1 {
    padding-top: 700px;
    padding-bottom: 300px;
    font-size: 1.1em;
  }
  .containerIndex .articleIndex .indexCuerpo .sideBar0 .sideBarText2 {
    padding-top: 350px;
    padding-bottom: 100px;
    font-size: 1.1em;
  }
  .containerIndex .articleIndex .indexCuerpo #ahora {
    width: 300px;
    height: 300px;
  }
  .containerIndex .sectionIndex .descripIndex {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .containerIndex .sectionIndex .lineasDescrip {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .containerIndex .sectionIndex .lineasDescrip .descripTexto {
    font-size: 1.9em;
    line-height: 55px;
  }
  .containerIndex .sectionIndex .lineasDescrip .descripTexto2 {
    font-size: 1.9em;
    line-height: 55px;
  }
  .containerIndex .botonesDiv {
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .containerIndex .botonesDiv .botonesArriba .btn1 {
    font-size: 1.4rem;
  }
  .containerIndex .botonesDiv .botonesArriba #botoncasas {
    width: 140px;
  }
  .containerIndex .botonesDiv .botonesAbajo .btn2 {
    font-size: 1.4rem;
    width: auto;
  }
  .containerIndex .indexProductos {
    padding-top: 200px;
    padding-bottom: 300px;
  }
  .containerIndex .indexProductos .rowCards .col1Cards .cardOne {
    width: 300px;
    height: 300px;
  }
  .containerIndex .indexProductos .rowCards .col2Cards .cardTwo {
    width: 300px;
    height: 300px;
  }
  .containerIndex .indexProductos .col3Cards .cardThree {
    width: 300px;
    height: 300px;
  }
  .containerIndex .articleAbajo {
    padding-bottom: 300px;
    flex-direction: row;
    align-items: center;
  }
  .containerIndex .articleAbajo .articleAbajo2 {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  .containerIndex .articleAbajo .lastImgIndex {
    display: flex;
    margin-left: 550px;
    padding-top: 180px;
    height: 400px;
    width: 250px;
  }
}
html {
  min-height: 100%;
}

.articleDeptos {
  background-color: rgb(0, 0, 0);
}
.articleDeptos .container-fluid {
  width: 1100px;
  height: auto;
}
.articleDeptos .container-fluid .tituloDeptos {
  display: flex;
  justify-content: start;
  font-size: 2rem;
}

.section_deptos_uno {
  background-color: rgb(0, 0, 0);
}
.section_deptos_uno .side_deptos {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(119, 123, 62);
  padding-top: 90px;
  height: auto;
}
.section_deptos_uno .side_deptos .lista_seccion {
  padding-top: 50px;
  padding-bottom: 100px;
}
.section_deptos_uno .imagenesCuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_deptos_uno .imagenesCuerpo .depto_imagen {
  padding-bottom: 200px;
  height: 350px;
  width: 200px;
}

.section_casas_mid {
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.section_casas_mid .imagenesCuerpo2 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section_casas_dos {
  background-color: rgb(0, 0, 0);
}
.section_casas_dos .article_casas_txt {
  color: olive;
  text-align: center;
  padding-bottom: 100px;
}
.section_casas_dos .imagenesCuerpo3 {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}
.section_casas_dos .imagenesCuerpo3 #gif_last {
  height: 250px;
  width: 120px;
}

@media (min-width: 768px) {
  .articleDeptos {
    background-color: rgb(0, 0, 0);
  }
  .articleDeptos .container-fluid {
    width: 1100px;
    height: auto;
  }
  .articleDeptos .container-fluid .tituloDeptos {
    display: flex;
    justify-content: start;
    font-size: 2rem;
  }
  .section_deptos_uno {
    background-color: rgb(0, 0, 0);
  }
  .section_deptos_uno .side_deptos {
    font-size: 1.4rem;
    text-align: center;
    color: rgb(119, 123, 62);
    padding-top: 90px;
    height: auto;
  }
  .section_deptos_uno .side_deptos .lista_seccion {
    padding-top: 50px;
    padding-bottom: 300px;
  }
  .section_deptos_uno .imagenesCuerpo {
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
  }
  .section_deptos_uno .imagenesCuerpo .depto_imagen {
    padding-bottom: 200px;
    height: 500px;
    width: 350px;
  }
  .section_casas_mid {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
  }
  .section_casas_mid .imagenesCuerpo2 {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .section_casas_dos {
    background-color: rgb(0, 0, 0);
  }
  .section_casas_dos .article_casas_txt {
    color: olive;
    text-align: center;
    padding-bottom: 100px;
  }
  .section_casas_dos .imagenesCuerpo3 #gif_last {
    height: 300px;
    width: 180px;
  }
}
html {
  min-height: 100%;
}

.articleCasas {
  background-color: rgb(0, 0, 0);
}
.articleCasas .container-fluid {
  width: 1100px;
  height: auto;
}
.articleCasas .container-fluid .tituloCasas {
  display: flex;
  justify-content: start;
  font-size: 2rem;
}

.section_casas_uno {
  background-color: rgb(0, 0, 0);
}
.section_casas_uno .sideBar_casas {
  padding-top: 100px;
  font-size: 1.4rem;
  text-align: center;
  color: rgb(119, 123, 62);
  padding-bottom: 90px;
}
.section_casas_uno .sideBar_casas .lista_seccion {
  padding-top: 50px;
  padding-bottom: 100px;
}
.section_casas_uno .imagenesCuerpo {
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.section_casas_mid {
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.3rem;
}
.section_casas_mid .imagenesCuerpo2 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.section_casas_mid .imagenesCuerpo3 #ultimo_gif {
  width: 200px;
}

.section_casas_dos {
  background-color: rgb(0, 0, 0);
}
.section_casas_dos .article_casas_txt {
  color: olive;
  text-align: center;
  padding-bottom: 100px;
}
.section_casas_dos .imagenesCuerpo3 {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}
.section_casas_dos .imagenesCuerpo3 .ultimo_gif {
  width: 250px;
  height: 350px;
}

@media (min-width: 768px) {
  .articleCasas .container-fluid .tituloCasas {
    font-size: 3.2rem;
  }
  .section_casas_uno {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  .section_casas_uno .sideBar0 {
    font-size: 3rem;
    text-align: center;
  }
  .section_casas_uno .sideBar0 .lista_seccion {
    padding-bottom: 100px;
  }
  .section_casas_uno .imagenesCuerpo {
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }
  .section_casas_mid {
    font-size: 1.8rem;
    padding-bottom: 200px;
  }
  .section_casas_mid .imagenesCuerpo2 {
    padding-top: 300px;
  }
  .section_casas_dos .article_casas_txt {
    display: flex;
    flex-direction: column;
    color: olive;
    text-align: center;
    padding-bottom: 100px;
    justify-content: center;
  }
  .section_casas_dos .imagenesCuerpo3 {
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
  }
  .section_casas_dos .imagenesCuerpo3 .ultimo_gif {
    padding-top: 50px;
    height: 350px;
    width: 220px;
  }
}
html {
  min-height: 100%;
}

.articleOtros {
  background-color: rgb(0, 0, 0);
}
.articleOtros .container-fluid {
  width: 1100px;
  height: auto;
}
.articleOtros .container-fluid .tituloOtros .text-end .lead {
  font-size: 1.1em;
  color: #8d8d8a;
}

.section_ultima {
  background-color: black;
}
.section_ultima .section_txt {
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: olive;
}
.section_ultima .section_txt_abajo {
  padding: 200px 30px 100px 30px;
  text-align: center;
}
.section_ultima .imagenesCuerpoDos {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.section_ultima .imagenesCuerpoDos .gif_op {
  padding-top: 100px;
  width: 200px;
}

@media (min-width: 1200px) {
  .section_ultima .section_txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .section_ultima .section_txt_abajo {
    padding-top: 400px;
    text-align: center;
    padding-bottom: 300px;
  }
}
html {
  min-height: 100%;
}

.container-fluid .sectionContacto {
  background-color: rgb(0, 0, 0);
  height: auto;
}
.container-fluid .sectionContacto #text-area {
  width: auto;
  height: 200px;
}
.container-fluid .section_c_imagen {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
.container-fluid .section_c_imagen .imagenCuerpo {
  width: 250px;
  height: auto;
}

html {
  min-height: 100%;
}

.articleQuienes {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
}
.articleQuienes .quienesTitulo {
  font-size: 4em;
  padding-top: 70px;
}
.articleQuienes .quienesDesc {
  font-size: 1.4em;
  line-height: 35px;
  padding-top: 80px;
  padding-bottom: 70px;
}

.sectionQuienes {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
}
.sectionQuienes .filoTitulo {
  font-size: 40px;
  padding-top: 200px;
  color: rgb(240, 240, 240);
}
.sectionQuienes .filoDesc {
  font-size: 1.3rem;
  padding-top: 60px;
  line-height: 1.3;
  color: rgb(204, 201, 201);
}

.main_quienes {
  background-color: rgb(0, 0, 0);
}
.main_quienes .main_imagen {
  display: flex;
  justify-content: center;
}
.main_quienes .main_imagen #main_img {
  width: 100%;
  height: auto;
}
.main_quienes .side_quienes {
  display: flex;
  line-height: 32px;
  justify-content: center;
}
.main_quienes .imagenesCuerpo {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.quienesImagen {
  background-color: rgb(0, 0, 0);
}
.quienesImagen .quienesImg {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main_quienes .main_imagen .main_img {
  height: 250px;
  width: 100%;
}
.main_quienes .side_quienes .sideBarText {
  padding-top: 50px;
  text-align: center;
  color: rgb(119, 123, 62);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
  font-family: "Ubuntu", sans-serif;
}
body {
  font-family: "Ubuntu", sans-serif;
  color: rgb(216, 216, 216);
  /*font-size: 1.2rem needed;*/
  min-height: 100%;
  min-width: 100%;
  padding: 0px 0px 0px 0px;
}

.positionButton {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  width: 130px;
  height: auto;
  background-color: #777b3e;
  position: fixed;
  bottom: 70px;
  right: 7px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  padding: 5px 2px 5px 0px;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  text-align: center;
  border-radius: 17px;
}
.positionButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding-right: 10px;
  -webkit-animation-name: pbutton;
          animation-name: pbutton;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
@keyframes pbutton {
  0% {
    background-color: rgb(4, 88, 31);
  }
  25% {
    background-color: rgb(8, 171, 60);
    color: white;
    transform: rotate(2deg);
  }
  50% {
    background-color: rgb(5, 83, 17);
    transform: scale(1, 1);
    transform: rotate(4deg);
  }
  75% {
    background-color: rgb(29, 168, 119);
    transform: scale(3, 3);
    transform: rotate(4deg);
  }
  100% {
    background-color: rgb(9, 76, 53);
    transform: rotate(9deg);
  }
}

@media (min-width: 760px) {
  .positionButton {
    display: flex;
    justify-content: center;
    width: 150px;
    height: auto;
    background-color: #b3ba56;
    position: fixed;
    bottom: 80px;
    right: 7px;
    color: rgb(9, 55, 2);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    text-align: center;
    border-radius: 17px;
  }
  .positionButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
    -webkit-animation-name: pbutton;
            animation-name: pbutton;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  @-webkit-keyframes pbutton {
    0% {
      background-color: rgb(4, 88, 31);
    }
    25% {
      background-color: rgb(8, 171, 60);
      color: white;
      transform: rotate(2deg);
    }
    50% {
      background-color: rgb(5, 83, 17);
      transform: scale(1, 1);
      transform: rotate(4deg);
    }
    75% {
      background-color: rgb(29, 168, 119);
      transform: scale(3, 3);
      transform: rotate(4deg);
    }
    100% {
      background-color: rgb(9, 76, 53);
      transform: rotate(9deg);
    }
  }
  @keyframes pbutton {
    0% {
      background-color: rgb(4, 88, 31);
    }
    25% {
      background-color: rgb(8, 171, 60);
      color: white;
      transform: rotate(2deg);
    }
    50% {
      background-color: rgb(5, 83, 17);
      transform: scale(1, 1);
      transform: rotate(4deg);
    }
    75% {
      background-color: rgb(29, 168, 119);
      transform: scale(3, 3);
      transform: rotate(4deg);
    }
    100% {
      background-color: rgb(9, 76, 53);
      transform: rotate(9deg);
    }
  }
}/*# sourceMappingURL=styles.css.map */