* {
  margin: 0;
  padding: 0;
}

/* MOBILE FIRST      //

INDEX     INDEX      INDEX    */
body {
  font-family: "Edu NSW ACT Foundation", cursive;
  color: rgb(216, 216, 216);
  /*font-size: 1.2rem needed;*/
  min-height: 100%;
  min-width: 100%;
  padding: 0px 0px 0px 0px;
  background-color: black;
}

.container {
  display: grid;
  grid-template-areas: "header header" "cuerpo cuerpo" "cuerpoDer cuerpoDer" "descripcion descripcion" "footer footer";
  grid-template-rows: 200px 2300px 500px 1000px 200px;
  grid-template-columns: 100%;
  height: 100vh;
}

/*  header comienzA !! */
header {
  grid-area: header;
  font-size: 30px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  width: 150 px;
  height: 150px;
}

.nav-link {
  color: rgb(64, 79, 6) !important;
}

.dropdown-menu {
  /* color: white !important;  NO puedo cambiar el color de letra
  quisiera que el BG sea negro y las letras blancas.  */
  background-color: olive;
  font-size: 23px;
}

header a:hover {
  font-size: 23px;
  background-color: black !important;
  color: white !important;
}

#ulLargerText {
  font-size: 30px;
  color: #86895d;
}

.positionButton {
  display: flex;
  justify-content: flex-end;
  width: 180px;
  height: 50px;
  background-color: #b3ba56;
  position: fixed;
  bottom: 60px;
  right: 7px;
  color: rgb(9, 55, 2);
  font-weight: bold;
  padding: 5px 2px 5px 0px;
  font-size: 24px;
  text-decoration: none;
  text-align: left;
  text-align: center;
}

.positionButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 190px;
  height: 40px;
  padding-top: 10px;
  padding-right: 10px;
  -webkit-animation-name: pbutton;
          animation-name: pbutton;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes pbutton {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  0% {
    background-color: rgb(4, 88, 31);
  }
  50% {
    background-color: rgb(5, 83, 17);
    transform: scale(1, 1);
  }
  75% {
    background-color: rgb(9, 76, 53);
    transform: rotate(4deg);
  }
  75% {
    color: aliceblue;
  }
}

@keyframes pbutton {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  0% {
    background-color: rgb(4, 88, 31);
  }
  50% {
    background-color: rgb(5, 83, 17);
    transform: scale(1, 1);
  }
  75% {
    background-color: rgb(9, 76, 53);
    transform: rotate(4deg);
  }
  75% {
    color: aliceblue;
  }
}
article#cuerpo {
  grid-area: cuerpo;
  display: grid;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.indexImg {
  padding-bottom: 100px;
  height: 650px;
  width: 1100px;
}

/* Article "cuerpo" TERMINa */
/* aside "cuerpoDer" comienza !!  */
aside {
  grid-area: cuerpoDer;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 50px;
}

.sideBar0 {
  font-size: 25px;
}

.sideBarText {
  padding-top: 140px;
  padding-bottom: 30px;
  padding-left: 35px;
}

.sideBarText1 {
  padding-bottom: 20px;
  padding-left: 120px;
}

.sideBarText2 {
  padding-bottom: 20px;
  padding-left: 210px;
}

/* aside termina */
/*  descripcion comienza !!  */
section#descripcion {
  grid-area: descripcion;
  padding-top: 200px;
}

.descrip {
  text-align: center;
  padding-top: 20px;
  height: 950px;
}

.descripTitulo {
  font-size: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.descripTexto {
  font-size: 40px;
}

.descripTexto1 {
  font-size: 40px;
}

.descripTexto2 {
  font-size: 40px;
}

/* descripcion termina */
/* footer comienzA !! */
footer {
  background-color: black;
  grid-area: footer;
  font-size: 30px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer ul li {
  display: inline;
  padding-right: 1px;
  justify-content: space-between;
  padding-left: 40px;
}

.footer a:hover {
  color: #86895d;
}

/* footer termina */
/* MEDIA QUERIE */
@media screen and (min-width: 750px) {
  .container {
    display: grid;
    grid-template-areas: "header header" "cuerpo cuerpoDer" "descripcion descripcion" "footer footer";
    grid-template-rows: 200px 2400px 1000px 180px;
    grid-template-columns: 75% 25%;
    height: 100vh;
    width: 100%;
    font-family: "Edu NSW ACT Foundation", cursive;
    margin-left: 0%;
  }
  .positionButton {
    display: flex;
    justify-content: flex-end;
    width: 180px;
    height: 40px;
    background-color: #b3ba56;
    position: fixed;
    bottom: 60px;
    right: 7px;
    color: rgb(9, 55, 2);
    font-weight: bold;
    padding: 5px 2px 2px 0px;
    font-size: 24px;
    text-decoration: none;
    text-align: left;
    text-align: center;
  }
  aside {
    grid-area: cuerpoDer;
    padding-top: 10px;
    font-size: 30px;
  }
  .sideBarText {
    padding-top: 700px;
    padding-bottom: 0px;
  }
  .sideBarText1 {
    padding-bottom: 400px;
    padding-top: 300px;
    padding-left: 10px;
  }
  .sideBarText2 {
    padding-top: 200px;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .descrip {
    font-size: 104px;
  }
  .descripTexto {
    font-size: 40px;
    padding-bottom: 50px;
  }
  .descripTexto1 {
    font-size: 40px;
    padding-bottom: 50px;
  }
  .descripTexto2 {
    font-size: 40px;
    padding-bottom: 200px;
  }
  footer {
    grid-area: footer;
    font-size: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
}
/* TERMINA INDEX */
/* Empieza Casas */
.imgCasas {
  width: 1100px;
  height: 600px;
}

.tituloCasas {
  display: flex;
  justify-content: center;
}

/* TERMINA Casas */
/*  quienesSomos.html COMIENZA*/
.containerQS {
  display: grid;
  grid-template-areas: "header " "cuerpoQ1" "cuerpoQ2" "quienesImg" "footer";
  grid-template-rows: 200px 600px 400px 600px 100px;
  grid-template-columns: 100%;
  height: 100vh;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.cuerpoQ1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.quienesTitulo {
  font-size: 80px;
  padding-top: 100px;
}

.quienesDesc {
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 70px;
}

.cuerpoQ2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.filoTitulo {
  font-size: 40px;
  padding-top: 140px;
  padding-left: 50px;
  color: #595957;
}

.filoDesc {
  font-size: 30px;
  padding-top: 60px;
  line-height: 1.8;
  color: rgb(103, 101, 101);
}

.quienesImg {
  padding-top: 70px;
  width: 600px;
  height: 600px;
}

.footer {
  grid-area: footer;
  font-size: 20px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  quienesSomos.html TERMINA*/
/* OtrosProyectos.html COMIENZA*/
.blockquote {
  font-size: 3em;
}

.lead {
  font-size: 2em;
  color: #8d8d8a;
}

/* OtrosProyectos.html TERMINA*/
/* Contactos.html COMIENZA*/
form {
  font-size: 25px;
}

#text-area {
  width: 500px;
  height: 200px;
}

/* Contactos.html TERMINA*//*# sourceMappingURL=styles.css.map */